<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//LOGGER" "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

    <!--
       Appenders: When running in Tomcat, locatches all logs.
    -->
    <appender name="console" class="org.apache.log4j.ConsoleAppender">
        <param name="Target" value="System.out" />
        <layout class="org.apache.log4j.PatternLayout">
            <param name="ConversionPattern" value="%d{ISO8601} %-5p [%c{1}] (%t) [ver=${project.version.revision} %X] %m%n" />
        </layout>
    </appender>

    <logger name="bettercare.wic">
        <level value="debug"/>
    </logger>

    <root>
        <priority value="error" />
        <appender-ref ref="console" />
    </root>

</log4j:configuration>
